.background {
    background-color: rgb(54, 52, 52);
}
.cardPad{
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}
.AOSText{
    padding-top: 100px;
    padding-left: 15px;
    color: aliceblue;
}
  #table{
    background-color: beige;
	margin-left: 30px;
	margin-right: 30px;
   
  }
  #tableLables{
    color: aliceblue;
    margin-left: 30px;
  }
  #footer {
    position: fixed;
    bottom:0;
	left: 0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: rgb(31, 30, 30);
    color: aliceblue;
    text-align: center;
 }

 @import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
body {
	background: rgb(54, 52, 52);
	color: #fff;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	width: 100%;
}
h1.page_title{color:#fff;}
h4.what_to_do{color:#fff;}
.page_title,
.what_to_do {
	font-weight: 300;
	line-height: 120%;
	text-align: center;
	text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
}

/* PEN STYLES ========== */
a,
.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
	.side_menu {
		background: #080353;
		height: 100vh;
		left: -250px;
		position: absolute;
		top: 0;
		width: 250px;
		z-index: 10;
	}
	.side_menu .container {
		padding: 0 1em;
	}

	.logo_background{
		background: linear-gradient(rgb(185, 219, 240) 60%, #080353);
		width: 250px;
		height: 100px;
		align-content: center;		
	}
	.logo{
		margin-top: 15px;
		margin-bottom: 25px;
		margin-left: 35px;
	}

/* HAMBURGER STYLES ----- */
	.burger_box {
		display: block;
		float: right;
		margin-right: -45px;
	}
	.burger_box a.menu-icon {
		display: inline-block;
		float: none;
		height: 43px;
		padding: 10px;
		opacity: .5;
		width: 45px;
		z-index: 100;
	}
	.burger_box a.menu-icon:hover,
	.burger_box a.menu-icon.opened {
		opacity: 1;
	}
	.burger_box a.menu-icon.opened {
		background: rgba(151, 4, 4, 0.9);
	}
	.burger_box .menu-icon_box {
		display: inline-block;
		height: 25px;
		position: relative;
		text-align: left;
		width: 25px;
	}
	.burger_box .menu-icon_line {
		background: rgb(0, 0, 0);
		border-radius: 2px;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 100%;
	}
	.burger_box .menu-icon_line--1 {
		top: 2px;
	}
	.burger_box .menu-icon_line--2 {
		top: 10px;
	}
	.burger_box .menu-icon_line--3 {
		top: 18px;
	}
	.burger_box .menu-icon_line--1 {
		transition: top 200ms 250ms, transform 200ms;
		-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon_line--2 {
		transition: opacity 0ms 300ms;
		-webkit-transition: opacity 0ms 300ms;
	}
	.burger_box .menu-icon_line--3 {
		transition: top 100ms 300ms, transform 200ms;
		-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_box {
		transform: scale3d(0.9, 0.9, 0.9);
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	.burger_box .menu-icon.opened .menu-icon_line {
		top: 10px;
	}
	.burger_box .menu-icon.opened .menu-icon_line--1 {
		transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transition: top 100ms, transform 200ms 250ms;
		-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--2 {
		opacity: 0;
		transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--3 {
		transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transition: top 200ms, transform 200ms 250ms;
		-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
	}

/* STAGGER LIST ----- */
	.list_load {
		display: none;
		list-style: none;
		padding: 0;
    margin-top: 50px;
	}
	.list_item {
		margin-left: -20px;
		opacity: 0.5;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		color: rgb(252, 252, 252);
		display: block;
		padding: 5px 10px;
		text-decoration: none;
    font-size: large;
    font-weight: bold;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
	}
  .menu-icon-container{
    background-color: rgb(49, 67, 223);
    width: 100%;
  }
  #addAircraftForm{
    background-color: beige;
    color: black;
    padding: 20px;
    margin-right: auto;
  }
  .formTitle{
    margin-top: 50px;
    color: aliceblue;
    padding-left: 15px;
  }
  #tableStyle{
    color: aliceblue;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: auto;
	padding-right: 15px;
	
  }